<div class="container">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
    <span class="navbar-brand">
        <a routerLink="/home" routerLinkActive="active">Home</a>
    </span>
            <ul class="nav navbar-nav">
                <li><a routerLinkActive="active" routerLink="shop">Shop</a></li>
                <li *ngIf="auth.isLoggedIn"><a routerLinkActive="active" routerLink="shopAdmin">Shop Admin</a></li>
                <!-- ADD NAVIGATION ITEMS HERE-->
            </ul>
            <ul class="nav navbar-nav pull-right">
                <li><a routerLinkActive="active" routerLink="login">{{auth.isLoggedIn ? 'Logout' : 'Login'}}</a></li>
            </ul>
        </div>
    </nav>

    <section class="container">
        <router-outlet></router-outlet>
    </section>

    <div class="navbar navbar-fixed-bottom text-center">
        <a href="https://github.com/misterBIT/angular2-workshop-seed">Angular 2 Seed</a> by misterBIT
    </div>
</div>